<!DOCTYPE html>
<html>
<head>
	<title>freastal technologies</title>


  

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- font -->
    <style>
    @import url('https://fonts.googleapis.com/css?family=Nunito');
    </style> 

    <script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

</head>
<body>
<% include header %>

<div class="section10">
    <div class="container"><br><br><br><br>
        <div class="row">
            <form action="/sms/<%= client._id %>" method="POST">
            <textarea style="height: 150px;" rows="12" cols="50" name="sms">
                Dear  <%= client.clientname %>,
                From UrGYM
            </textarea><br><br><br>
            <center><button class="btn" type="submit">submit</button></center>
            </form>
        </div>
    </div>
</div>

</body>
</html>