<!DOCTYPE html>
<html>
<head>
	<title>signup</title>
	<script type="text/javascript">
     M.AutoInit();   
    </script>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- font -->
    <style>
    @import url('https://fonts.googleapis.com/css?family=Nunito');
    </style> 

</head>
<body>

   <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">FREASTAL TECHNOLOGIES</h5>
                <p class="grey-text text-lighten-4"></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">COURSES</h5>
              <!--   <ul>
                  <li><a class="grey-text text-lighten-3" href="/nodejs">Node.js</a></li>
                  <li><a class="grey-text text-lighten-3" href="/python">Python</a></li>
                  <li><a class="grey-text text-lighten-3" href="/cpp">C++</a></li>
                  <li><a class="grey-text text-lighten-3" href="/android">Android</a></li>
                  <li><a class="grey-text text-lighten-3" href="/machine">Machine learning</a></li>
                  <li><a class="grey-text text-lighten-3" href="/java">Java</a></li>
                </ul> -->
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Text - FREASTAL TECHNOLOGIES Pvt-Ltd
            <a class="footer-right" href="https://portfolio-robin.herokuapp.com/" >           MADE BY - ROBIN JAIN</a>
            </div>
          </div>
        </footer>

</body>
</html>